* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {

    min-height: 100vh;

    background: #121212;

    color: #ffffff;

    font-family: "Segoe UI", Arial, sans-serif;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 30px;

}



.app-container {

    width: 100%;

    max-width:1100px;

    background: #1e1e1e;

    border-radius: 20px;

    padding: 40px;

    box-shadow: 0 20px 50px rgba(0,0,0,0.4);

}



header {

    text-align: center;

    margin-bottom: 35px;

}


header h1 {

    font-size: 38px;

    margin-bottom: 10px;

}


header p {

    color: #a0a0a0;

    font-size: 18px;

}



/* idiomas */

.languages {

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    margin-bottom:15px;

}

select {

    background:#2a2a2a;

    color:white;

    border:1px solid #444;

    padding:8px 12px;

    border-radius:10px;

    font-size:14px;

}


.swap {

    background: transparent;

    border: none;

    color: #60a5fa;

    font-size: 30px;

    cursor: pointer;

}



/* mensaje */


textarea {

    width:100%;

    height:260px;

    background:#252525;

    color:white;

    border:1px solid #444;

    border-radius:18px;

    padding:25px;

    font-size:18px;

    resize:none;

}



textarea:focus {

    outline:none;

    border-color:#3b82f6;

}



/* opciones */

.settings {

    display:flex;

    gap:15px;

    margin-top:20px;

}



/* boton */


#translateBtn {

    width: 90px;
    height: 90px;

    margin: 25px auto;

    display: block;

    border: none;

    border-radius: 18px;

    background: #2563eb;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: .3s;

}


#translateBtn:hover {

    background: #1d4ed8;

    transform: scale(1.05);

}



/* resultado */


.result-box {

    margin-top:35px;

}


.result-box h2 {

    margin-bottom:15px;

}



#result {

    background:#252525;

    border-radius:18px;

    padding:25px;

    min-height:220px;

    font-size:18px;

    line-height:1.8;

    border:1px solid #444;

}



#copyBtn {

    margin-top:15px;

    padding:10px 20px;

    border:none;

    border-radius:10px;

    background:#374151;

    color:white;

    cursor:pointer;

}